= form_for @victim_url do |f|
  -if @victim_url.errors.any?
    #errorExplanation
      %h2= "#{pluralize(@victim_url.errors.count, "error")} prohibited this victim_url from being saved:"
      %ul
        - @victim_url.errors.full_messages.each do |msg|
          %li= msg
  %fieldset
    %legend
      A Little Information About The Intended
    .field
      = f.label :name
      %br
      = f.text_field :name
    .field
      = f.label :url
      %br
      = f.text_field :url
    .field
      = f.label :query
      %br
      = f.text_field :query
      = link_to "Preview", "#", :class => "preview"
    .field
      = f.label :visit_frequency
      %br
      = f.select :visit_frequency, ["daily", "hourly"]
    .actions
      = f.submit 'Save' 
      or 
      = link_to 'Cancel', victim_urls_path

