= form_for @victim_url do |f|
  -if @victim_url.errors.any?
    #errorExplanation
      %h2= "#{pluralize(@victim_url.errors.count, "error")} prohibited this victim_url from being saved:"
      %ul
        - @victim_url.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :url
    = f.text_field :url
  .field
    = f.label :query
    = f.text_field :query
  .field
    = f.label :links_only
    = f.check_box :links_only
  .field
    = f.label :content_only
    = f.check_box :content_only
  .field
    = f.label :email
    = f.text_field :email
  .actions
    = f.submit 'Save'
