%h2 My Prey

%table
  %tr
    %th Name
    %th Url
    %th Query
    %th Enabled?

  - @victim_urls.each do |victim_url|
    %tr
      %td= link_to victim_url.name, victim_url
      %td= link_to truncate(victim_url.url), victim_url.url, :title => victim_url.url, :target => "_new"
      %td= victim_url.query
      %td= victim_url.enabled?
  
      

%br

= link_to 'New Prey', new_victim_url_path
