%h2 My Victims

%table
  %tr
    %th Name
    %th Url
    %th Query
    %th Action

  - @victim_urls.each do |victim_url|
    %tr
      %td= link_to victim_url.name, victim_url
      %td= link_to victim_url.url, victim_url.url, :target => "_new"
      %td= victim_url.query
      %td= link_to 'Destroy', victim_url, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Victim', new_victim_url_path
