%p
  %b Name:
  = @victim_url.name
%p
  %b Url:
  = @victim_url.url
%p
  %b Query:
  = @victim_url.query
%p
  %b Visits:
  = @victim_url.visit_frequency
- unless @victim_url.gist_id.blank?
  %p
    %b Gist:
    = link_to @victim_url.gist_id, gist_url


%ul.nav
  %li= link_to 'Edit', edit_victim_url_path(@victim_url)
  %li= link_to 'Back', victim_urls_path

%pre
  %code.html
    = @victim_url.results




